@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #011627;
  --primary-2: #89a6bb;
  --primary-3: #1e2d3d;
  --primary-4: #f59e0b;
  --primary-5: #be7cff;
  --primary-6: #fb7185;
  --primary-7: #f8fafc;
}

@font-face {
  font-family: "Kode Mono";
  src:
    url("./fonts/KodeMono-Regular.woff2") format("woff2"),
    url("./fonts/KodeMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
