@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #011627;
  --primary-2: #89a6bb;
  --primary-3: #1e2d3d;
  --primary-4: #f59e0b;
  --primary-5: #be7cff;
  --primary-6: #fb7185;
  --primary-7: #f8fafc;
}

@font-face {
  font-family: "Kode Mono";
  src:
    url("./fonts/KodeMono-Regular.woff2") format("woff2"),
    url("./fonts/KodeMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?wgkpvr");
  src:
    url("fonts/icomoon.eot?wgkpvr#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?wgkpvr") format("truetype"),
    url("fonts/icomoon.woff?wgkpvr") format("woff"),
    url("fonts/icomoon.svg?wgkpvr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon", monospace, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e916";
}

.icon-arrow-up:before {
  content: "\e917";
}

.icon-arrow-right:before {
  content: "\e91c";
}

.icon-arrow-left:before {
  content: "\e91d";
}

.icon-arrow-down:before {
  content: "\e91e";
}

.icon-folder:before {
  content: "\e921";
}

.icon-external-link:before {
  content: "\e91b";
}